<html> 
<head> 
<title> Signup </title> 
<link rel='stylesheet' type='text/css' href='../css/homepage.css'>
<link rel='stylesheet' type='text/css' href='../css/signup.css'> 
<link rel='stylesheet' type='text/css' href='../css/endlesspages.css'> 
  <body> 
</head> 
<nav> 

<ul> 
<h1><a href='homepage.html'> Endless Pages</a></h1> 
  <li><a href='signup.html'> Enter </a> </li> 
  <li class='login'><a href='login.html'> Log In </a> </li> 
</ul>
</nav> 
<div class='forms'> 
<legend>
<fieldset>
<h1> Sign up </h1> <br>
  <label for="name">Name </label>
Username <input type='text' name='name' id="name"> <br>
  <label for="email"> </label>
Email <input type='email' name='email' id="email"><br>
  <label for="password"></label>
Password <input type='password' name='password' id="password"> <br>
<button type="button"> Submit </button>

</fieldset> 
</legend> <
  /div>
  <script src='../js/signup.js'> </script>
</body> 
</html> 
